* {
  background-image: url('https://media1.tenor.com/m/J63bVPkM9-kAAAAC/cute-anime.gif');
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.flex-container {
  display:flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: pink;
  padding: 1em;
  margin: 0;
}

.header-title {
  padding: 0.5em;
  margin: 0.5em;
}

.navigation-buttons{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

a {
  list-style-type: none;
  padding: 0.5em;
  margin: 0.5em;
  transition: 0.3s;
  border-radius: 1em;
  color: black;
}

a:hover {
  background-color: white;
}

/* CARD */
.card {
  width:352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  border-radius: 1em;
  border-style: solid;
  transition: 0.3s;
  padding: 1em;
}

.card:hover {
  scale: 1.1;
}

img {
  max-width: 95%;
  max-height: 300px;
}

.item-name {
  background-color: pink;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
}

.add-to-cart:hover {
  scale:1.1;
  cursor: pointer;
}

/* MAIN */

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* MY MODAL */

.cart {
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}

.cart > * {
  background: white;
  padding: 0.5em;
  margin: 0.5em;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  z-index: 1;
}
